@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  height: 100vh;
  width: 100%;
  font-family: "Inter";
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 90%;
  max-width: 43rem;
}

.faq-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

hr {
  border: 0;
  background-color: #d2d5da;
  height: 0.05rem;
}

a {
  text-decoration: none;
}

.faq-container {
  display: flex;
  flex-direction: column;
}

.faq-container-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
  margin-bottom: 2rem;
}

.faq-container ul,
.faq-container ol {
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-bottom: 2rem;
}

.faq-container ul {
  list-style: circle;
}

.faq-container ol {
  list-style: decimal;
}
